                                WESERVE COMPANY

In [5]:
# IMPORTING THE NECCESSARY LIBRARIES NEEDED FOR THE PROJECT

import pandas as pd 

import psycopg2 # for database connection
from sqlalchemy import create_engine #accessing  and managing SQL databases
import matplotlib.pyplot as plt 
import seaborn as sns

In [6]:
# INGESTING THE DATA  AND MAKING A COPY OF THE MASTER DATA
call_details = pd.read_csv('call details.csv')
call_details.head()

,callID,callDurationInSeconds,agentsGradeLevel,callType,callEndedByAgent
0,ageentsGradeLevel,97,A,Inbound,False
1,2,64,E,in-bound,True
2,3,100,C,in-bound,False
3,4,69,D,Outbound,True
4,5,96,D,Inbound,True

In [7]:
call_details_copy= call_details.copy()
call_details_copy

,callID,callDurationInSeconds,agentsGradeLevel,callType,callEndedByAgent
0,ageentsGradeLevel,97,A,Inbound,False
1,2,64,E,in-bound,True
2,3,100,C,in-bound,False
3,4,69,D,Outbound,True
4,5,96,D,Inbound,True
...,...,...,...,...,...
595,596,147,E,Outbound,True
596,597,90,A,in-bound,True
597,598,89,F,Outbound,True
598,599,146,D,Inbound,False
599,600,103,C,Outbound,False

In [8]:
call_details_copy.head(2)

,callID,callDurationInSeconds,agentsGradeLevel,callType,callEndedByAgent
0,ageentsGradeLevel,97,A,Inbound,False
1,2,64,E,in-bound,True

In [9]:
call_details_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   callID                 600 non-null    object
 1   callDurationInSeconds  600 non-null    int64
 2   agentsGradeLevel       600 non-null    object
 3   callType               600 non-null    object
 4   callEndedByAgent       600 non-null    bool
dtypes: bool(1), int64(1), object(3)
memory usage: 19.5+ KB

In [10]:
call_details_copy.describe()

       callDurationInSeconds
count             600.000000
mean              104.165000
std                25.746701
min                60.000000
25%                82.000000
50%               105.000000
75%               127.000000
max               148.000000

In [11]:
# INGESTING THE SECOND DATA  AND MAKING A COPY OF IT 'CALL LOG'
call_log=pd.read_csv("call log.csv")
call_log_copy=call_log.copy()
call_log_copy

,id,callerID,agentID,complaintTopic,assignedTo,status,resolutionDurationInHours
0,1,CALLER_1,163,Billing discrepancy,122.0,CLOSED,33.0
1,2,CALLER_2,133,Difficulty reaching customer support,NaN,new,NaN
2,3,CALLER_3,153,Wrong item received,122.0,resolved,NaN
3,4,CALLER_4,161,Unauthorized charges,151.0,pEnding,NaN
4,5,CALLER_5,148,Unprofessional behavior,NaN,new,NaN
...,...,...,...,...,...,...,...
595,596,CALLER_596,137,Unhelpful support,169.0,new,NaN
596,597,CALLER_597,159,Slow response time,NaN,resolved,NaN
597,598,CALLER_598,148,Shipping delay,150.0,pending,NaN
598,599,CALLER_599,161,Website not working,148.0,pEnding,NaN
599,600,CALLER_600,127,Wrong item received,149.0,resolved,NaN

In [12]:
call_log_copy

,id,callerID,agentID,complaintTopic,assignedTo,status,resolutionDurationInHours
0,1,CALLER_1,163,Billing discrepancy,122.0,CLOSED,33.0
1,2,CALLER_2,133,Difficulty reaching customer support,NaN,new,NaN
2,3,CALLER_3,153,Wrong item received,122.0,resolved,NaN
3,4,CALLER_4,161,Unauthorized charges,151.0,pEnding,NaN
4,5,CALLER_5,148,Unprofessional behavior,NaN,new,NaN
...,...,...,...,...,...,...,...
595,596,CALLER_596,137,Unhelpful support,169.0,new,NaN
596,597,CALLER_597,159,Slow response time,NaN,resolved,NaN
597,598,CALLER_598,148,Shipping delay,150.0,pending,NaN
598,599,CALLER_599,161,Website not working,148.0,pEnding,NaN
599,600,CALLER_600,127,Wrong item received,149.0,resolved,NaN

In [13]:
call_log_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 7 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         600 non-null    int64
 1   callerID                   600 non-null    object
 2   agentID                    600 non-null    int64
 3   complaintTopic             600 non-null    object
 4   assignedTo                 372 non-null    float64
 5   status                     600 non-null    object
 6   resolutionDurationInHours  187 non-null    float64
dtypes: float64(2), int64(2), object(3)
memory usage: 32.9+ KB

In [14]:
call_log_copy.shape

(600, 7)

In [15]:
call_log_copy.describe()

               id     agentID  assignedTo  resolutionDurationInHours
count  600.000000  600.000000  372.000000                 187.000000
mean   300.500000  151.851667  150.798387                  26.780749
std    173.349358   17.966385   17.255014                  13.058596
min      1.000000  121.000000  121.000000                   3.000000
25%    150.750000  136.000000  136.000000                  16.000000
50%    300.500000  152.000000  151.000000                  27.000000
75%    450.250000  168.000000  166.000000                  37.500000
max    600.000000  181.000000  181.000000                  48.000000

In [16]:
call_log_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 7 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         600 non-null    int64
 1   callerID                   600 non-null    object
 2   agentID                    600 non-null    int64
 3   complaintTopic             600 non-null    object
 4   assignedTo                 372 non-null    float64
 5   status                     600 non-null    object
 6   resolutionDurationInHours  187 non-null    float64
dtypes: float64(2), int64(2), object(3)
memory usage: 32.9+ KB

DATA TRANSFORMATION AND CLEANING

In [17]:
# DATA CLEANING BY REPLACING THE STRING TO 1 IN THE FIRST COLUMN FIRST ROW
call_details_copy.iloc[[0],[0]]='1'
call_details_copy['callID']

0        1
1        2
2        3
3        4
4        5
      ...
595    596
596    597
597    598
598    599
599    600
Name: callID, Length: 600, dtype: object

In [18]:
call_details_copy.head()

  callID  callDurationInSeconds agentsGradeLevel  callType  callEndedByAgent
0      1                     97                A   Inbound             False
1      2                     64                E  in-bound              True
2      3                    100                C  in-bound             False
3      4                     69                D  Outbound              True
4      5                     96                D   Inbound              True

In [19]:
# CONVERTING THE DATATYPE FOR THE CALLID FROM OBJECT TO INT TO ENABLE MERGING OF THE TWO DATA SET
call_details_copy['callID']= call_details_copy['callID'].astype(str).astype(int)

In [20]:
call_details_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   callID                 600 non-null    int32
 1   callDurationInSeconds  600 non-null    int64
 2   agentsGradeLevel       600 non-null    object
 3   callType               600 non-null    object
 4   callEndedByAgent       600 non-null    bool
dtypes: bool(1), int32(1), int64(1), object(2)
memory usage: 17.1+ KB

CREATE A NEW DATA BY MERGING THE TWO EXSITING DATA

In [21]:
# MERGING THE TWO DATASET BY A COMMON COLUMN WHCH IS THE ID ON THE CALL_LOG_COPY AND CALLID ON CALLDETAILS_COPY
merged_details=pd.merge(call_log_copy,call_details_copy, left_on='id', right_on='callID')
merged_details=merged_details.set_index('id')

In [22]:
merged_details

,callerID,agentID,complaintTopic,assignedTo,status,resolutionDurationInHours,callID,callDurationInSeconds,agentsGradeLevel,callType,callEndedByAgent
id,,,,,,,,,,,
1,CALLER_1,163,Billing discrepancy,122.0,CLOSED,33.0,1,97,A,Inbound,False
2,CALLER_2,133,Difficulty reaching customer support,NaN,new,NaN,2,64,E,in-bound,True
3,CALLER_3,153,Wrong item received,122.0,resolved,NaN,3,100,C,in-bound,False
4,CALLER_4,161,Unauthorized charges,151.0,pEnding,NaN,4,69,D,Outbound,True
5,CALLER_5,148,Unprofessional behavior,NaN,new,NaN,5,96,D,Inbound,True
...,...,...,...,...,...,...,...,...,...,...,...
596,CALLER_596,137,Unhelpful support,169.0,new,NaN,596,147,E,Outbound,True
597,CALLER_597,159,Slow response time,NaN,resolved,NaN,597,90,A,in-bound,True
598,CALLER_598,148,Shipping delay,150.0,pending,NaN,598,89,F,Outbound,True
599,CALLER_599,161,Website not working,148.0,pEnding,NaN,599,146,D,Inbound,False
600,CALLER_600,127,Wrong item received,149.0,resolved,NaN,600,103,C,Outbound,False

In [23]:
# Filling the missing values in the assignedTo with their coressponding agentID
merged_details['assignedTo'].fillna(merged_details['agentID'], inplace=True)

In [24]:
# droping the callID since its the same with the id
merged_details.drop(columns=['callID'], inplace=True)

In [25]:
merged_details.head()

,callerID,agentID,complaintTopic,assignedTo,status,resolutionDurationInHours,callDurationInSeconds,agentsGradeLevel,callType,callEndedByAgent
id,,,,,,,,,,
1,CALLER_1,163,Billing discrepancy,122.0,CLOSED,33.0,97,A,Inbound,False
2,CALLER_2,133,Difficulty reaching customer support,133.0,new,NaN,64,E,in-bound,True
3,CALLER_3,153,Wrong item received,122.0,resolved,NaN,100,C,in-bound,False
4,CALLER_4,161,Unauthorized charges,151.0,pEnding,NaN,69,D,Outbound,True
5,CALLER_5,148,Unprofessional behavior,148.0,new,NaN,96,D,Inbound,True

In [26]:

# replacing the NaN in resolutionDurationInHours to 0 since the status isnt closed
merged_details['resolutionDurationInHours']=merged_details['resolutionDurationInHours'].fillna(0)
merged_details

,callerID,agentID,complaintTopic,assignedTo,status,resolutionDurationInHours,callDurationInSeconds,agentsGradeLevel,callType,callEndedByAgent
id,,,,,,,,,,
1,CALLER_1,163,Billing discrepancy,122.0,CLOSED,33.0,97,A,Inbound,False
2,CALLER_2,133,Difficulty reaching customer support,133.0,new,0.0,64,E,in-bound,True
3,CALLER_3,153,Wrong item received,122.0,resolved,0.0,100,C,in-bound,False
4,CALLER_4,161,Unauthorized charges,151.0,pEnding,0.0,69,D,Outbound,True
5,CALLER_5,148,Unprofessional behavior,148.0,new,0.0,96,D,Inbound,True
...,...,...,...,...,...,...,...,...,...,...
596,CALLER_596,137,Unhelpful support,169.0,new,0.0,147,E,Outbound,True
597,CALLER_597,159,Slow response time,159.0,resolved,0.0,90,A,in-bound,True
598,CALLER_598,148,Shipping delay,150.0,pending,0.0,89,F,Outbound,True
599,CALLER_599,161,Website not working,148.0,pEnding,0.0,146,D,Inbound,False
600,CALLER_600,127,Wrong item received,149.0,resolved,0.0,103,C,Outbound,False

In [27]:
# replacing the In-bound to Inbound in the callType column
# merged_details['callType']=merged_details['callType'].replace(['In-bound','Inbound'])
# s.replace({'a': None}
merged_details['callType']=merged_details['callType'].replace({'in-bound':'Inbound'})

In [28]:
# convertiing the float type of resolutionDurationInHours to int
merged_details['resolutionDurationInHours'] = merged_details['resolutionDurationInHours'].astype(int)

In [29]:
# Replacing the cases of the status to be uniform
merged_details['status']=merged_details['status'].replace(['CLOSED','pEnding'],['closed','pending'])

In [30]:
merged_details.head()

,callerID,agentID,complaintTopic,assignedTo,status,resolutionDurationInHours,callDurationInSeconds,agentsGradeLevel,callType,callEndedByAgent
id,,,,,,,,,,
1,CALLER_1,163,Billing discrepancy,122.0,closed,33,97,A,Inbound,False
2,CALLER_2,133,Difficulty reaching customer support,133.0,new,0,64,E,Inbound,True
3,CALLER_3,153,Wrong item received,122.0,resolved,0,100,C,Inbound,False
4,CALLER_4,161,Unauthorized charges,151.0,pending,0,69,D,Outbound,True
5,CALLER_5,148,Unprofessional behavior,148.0,new,0,96,D,Inbound,True

In [31]:
# the warehouse schema 
merged_details.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 600 entries, 1 to 600
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   callerID                   600 non-null    object
 1   agentID                    600 non-null    int64
 2   complaintTopic             600 non-null    object
 3   assignedTo                 600 non-null    float64
 4   status                     600 non-null    object
 5   resolutionDurationInHours  600 non-null    int32
 6   callDurationInSeconds      600 non-null    int64
 7   agentsGradeLevel           600 non-null    object
 8   callType                   600 non-null    object
 9   callEndedByAgent           600 non-null    bool
dtypes: bool(1), float64(1), int32(1), int64(2), object(5)
memory usage: 45.1+ KB

AGGREGATIONS

---  Total Number of Calls Resolved vs Total Number of Calls Received
--- Total Number of calls received vs Total Number of calls assigned/resolved
--- The total and average call duration for each agent, and the grade level of these agents.
--- The earliest and latest closed and resolved calls, and the grade levels of the agents who resolved these cases

In [30]:
#first_KPI= Total Number of Calls Resolved vs Total Number of Calls Received
# total_no_resolved
total_no_resolved =(merged_details['status']=='resolved').sum()
# total_call_received
total_call_received=merged_details['callerID'].count()
first_KPI =int(round(total_call_received/total_no_resolved,0))
first_KPI

6

In [31]:
# Total Number of calls received vs Total Number of calls assigned/resolved
Total_no_assigned_or_resolved = ((merged_details['status']=='resolved') | (merged_details['assignedTo'] != 0)).sum()
Total_no_assigned_or_resolved

600

In [32]:
total_call_received/Total_no_assigned_or_resolved

1.0

In [33]:
#  The total and average call duration for each agent, and the grade level of these agents.
total_call_duration_for_each_agent=merged_details.groupby(['agentID','agentsGradeLevel'])
total_call_duration_for_each_agent.first()

                            callerID                        complaintTopic  \
agentID agentsGradeLevel
121     A                  CALLER_21               Unprofessional behavior
        D                 CALLER_280                   Billing discrepancy
        E                  CALLER_22                  Refund not processed
        F                  CALLER_77                     Unhelpful support
122     A                  CALLER_40  Rude customer service representative
...                              ...                                   ...
180     F                  CALLER_36                       Incorrect order
181     A                 CALLER_558                        Long wait time
        C                 CALLER_340                  Refund not processed
        E                 CALLER_191                    Slow response time
        F                 CALLER_305                   Wrong item received

                          assignedTo    status  resolutionDurationInHours  \
agentID agentsGradeLevel
121     A                      121.0       new                          0
        D                      121.0   pending                          0
        E                      133.0  resolved                          0
        F                      121.0       new                          0
122     A                      146.0       new                          0
...                              ...       ...                        ...
180     F                      167.0   pending                          0
181     A                      140.0   pending                          0
        C                      137.0   pending                          0
        E                      176.0       new                          0
        F                      149.0  resolved                          0

                          callDurationInSeconds  callType  callEndedByAgent
agentID agentsGradeLevel
121     A                                    72  Outbound              True
        D                                   141   Inbound              True
        E                                   125  Outbound             False
        F                                   100   Inbound              True
122     A                                   133  Outbound             False
...                                         ...       ...               ...
180     F                                    67  Outbound             False
181     A                                   123   Inbound              True
        C                                    70  Outbound              True
        E                                    86  Outbound              True
        F                                   103  Outbound             False

[263 rows x 8 columns]

In [34]:
#  The total  call duration for each agent, and the grade level of these agents.
total_call_duration_for_each_agent1=merged_details.groupby(['agentID','agentsGradeLevel'])['callDurationInSeconds'].sum()
total_call_duration_for_each_agent1

agentID  agentsGradeLevel
121      A                   288
         D                   201
         E                   125
         F                   100
122      A                   395
                            ...
180      F                   461
181      A                   123
         C                   287
         E                   337
         F                   212
Name: callDurationInSeconds, Length: 263, dtype: int64

In [35]:
#  The  average call duration for each agent, and the grade level of these agents.
average_call_duration_for_each_agent1=merged_details.groupby(['agentID','agentsGradeLevel'])['callDurationInSeconds'].mean()
average_call_duration_for_each_agent1

agentID  agentsGradeLevel
121      A                    96.000000
         D                   100.500000
         E                   125.000000
         F                   100.000000
122      A                    98.750000
                                ...
180      F                    92.200000
181      A                   123.000000
         C                    95.666667
         E                    84.250000
         F                   106.000000
Name: callDurationInSeconds, Length: 263, dtype: float64

In [36]:
# The earliest and latest closed and resolved calls, and the grade levels of the agents who resolved these cases
df_group = merged_details.groupby('status')
df_group.get_group('closed').max()
# df_group.max()

callerID                               CALLER_99
agentID                                      181
complaintTopic               Wrong item received
assignedTo                                 181.0
status                                    closed
resolutionDurationInHours                     48
callDurationInSeconds                        148
agentsGradeLevel                               F
callType                                Outbound
callEndedByAgent                            True
dtype: object

In [37]:
df_group = merged_details.groupby('status')
df_group.get_group('closed').min()
# df_group.min()

callerID                                CALLER_1
agentID                                      121
complaintTopic               Billing discrepancy
assignedTo                                 122.0
status                                    closed
resolutionDurationInHours                      3
callDurationInSeconds                         60
agentsGradeLevel                               A
callType                                 Inbound
callEndedByAgent                           False
dtype: object

In [38]:
df_group = merged_details.groupby('status')
df_group.get_group('resolved').max()
# df_group.max()

callerID                               CALLER_97
agentID                                      181
complaintTopic               Wrong item received
assignedTo                                 181.0
status                                  resolved
resolutionDurationInHours                      0
callDurationInSeconds                        148
agentsGradeLevel                               F
callType                                Outbound
callEndedByAgent                            True
dtype: object

In [39]:
df_group = merged_details.groupby('status')
df_group.get_group('resolved').min()
# df_group.min()

callerID                               CALLER_10
agentID                                      121
complaintTopic               Billing discrepancy
assignedTo                                 122.0
status                                  resolved
resolutionDurationInHours                      0
callDurationInSeconds                         63
agentsGradeLevel                               A
callType                                 Inbound
callEndedByAgent                           False
dtype: object

In [40]:
merged_details.head(7)

,callerID,agentID,complaintTopic,assignedTo,status,resolutionDurationInHours,callDurationInSeconds,agentsGradeLevel,callType,callEndedByAgent
id,,,,,,,,,,
1,CALLER_1,163,Billing discrepancy,122.0,closed,33,97,A,Inbound,False
2,CALLER_2,133,Difficulty reaching customer support,133.0,new,0,64,E,Inbound,True
3,CALLER_3,153,Wrong item received,122.0,resolved,0,100,C,Inbound,False
4,CALLER_4,161,Unauthorized charges,151.0,pending,0,69,D,Outbound,True
5,CALLER_5,148,Unprofessional behavior,148.0,new,0,96,D,Inbound,True
6,CALLER_6,157,Inadequate product instructions,125.0,closed,18,120,A,Inbound,True
7,CALLER_7,179,Unsatisfactory resolution,125.0,resolved,0,88,C,Inbound,True

In [41]:
merged_details.to_csv('merged_details.csv')

In [32]:
# LOAD the data into the database
# DATABASE CREDENTIALS
db_host='localhost'
db_username='postgres'
db_port=5432
db_password = 'mouau/12/21061'
db_name='weserve'

In [33]:
# # establishing a connection
# engine = create_engine(f"postgresql://{db_username}:{db_password}@{db_host}:{db_port}/{db_name}")

In [34]:
# # loading the data into the postgres database

# merged_details.to_sql('call_details', engine, if_exists='replace',index=False)
# # close engine
# engine.dispose()

In [35]:
conn=psycopg2.connect(
    host=db_host,
    user=db_username,
    password=db_password,
    database=db_name

)
cursor=conn.cursor()

In [36]:
#     -- -1. Total Number of Calls Resolved vs Total Number of Calls Received

query='''
       
        SELECT
            SUM(CASE WHEN status = 'resolved' THEN 1 ELSE 0 END) AS TotalResolvedCalls,
            COUNT(*) AS TotalCallsReceived
        FROM
            call_details;

'''

In [38]:
cursor.execute(query)
query_1=cursor.fetchall()

In [41]:
cursor.description

(Column(name='totalresolvedcalls', type_code=20),
 Column(name='totalcallsreceived', type_code=20))

In [43]:
calls_vs_received =pd.DataFrame(query_1,columns=['totalresolvedcalls','totalcallsreceived'])
calls_vs_received

   totalresolvedcalls  totalcallsreceived
0                 105                 600

In [44]:
# -- -------2. Total Number of calls received vs Total Number of calls assigned/resolved
query_2='''
        SELECT
            COUNT(*) AS TotalCallsReceived,
            SUM(CASE WHEN status IN ('closed','pending', 'Resolved') THEN 1 ELSE 0 END) AS TotalAssignedOrResolvedCalls
        FROM
            call_details;

'''

In [45]:
cursor.execute(query_2)
total_calls_assignedorresolved = cursor.fetchall()
cursor.description

(Column(name='totalcallsreceived', type_code=20),
 Column(name='totalassignedorresolvedcalls', type_code=20))

In [46]:
total_calls_assignedorresolved=pd.DataFrame(total_calls_assignedorresolved,columns=['totalcallsreceived','totalassignedorresolvedcalls'])
total_calls_assignedorresolved

   totalcallsreceived  totalassignedorresolvedcalls
0                 600                           399

In [47]:
# -- -3. The total and average call duration for each agent, and the grade level of these agents.
query_3 = '''
                SELECT 
                        "agentsGradeLevel",
                        ROUND(SUM("callDurationInSeconds"),2) AS TotalCallduration, 
                        ROUND(AVG("callDurationInSeconds"),2) AS AvgCallDuration
                FROM call_details
                GROUP BY "agentsGradeLevel"
                ORDER BY "agentsGradeLevel"

        '''

In [48]:
cursor.execute(query_3)
tot_avg_of_agents= cursor.fetchall()
cursor.description

(Column(name='agentsGradeLevel', type_code=25),
 Column(name='totalcallduration', type_code=1700),
 Column(name='avgcallduration', type_code=1700))

In [50]:
tot_avg_of_agents =pd.DataFrame(tot_avg_of_agents,columns=['agentsGradeLevel','totalcallduration','avgcallduration'])
tot_avg_of_agents

  agentsGradeLevel totalcallduration avgcallduration
0                A          12714.00          104.21
1                C          14157.00          103.34
2                D          11305.00          102.77
3                E          12575.00          107.48
4                F          11748.00          103.05

In [51]:
#  -- --4.The earliest and latest closed and resolved calls, and the grade levels of the agents who resolved these cases.
query_4 =    '''
            SELECT
                    MIN("resolutionDurationInHours") AS EarliestClosedCall,
                    MAX("resolutionDurationInHours") AS LatestClosedCall,
                    "agentsGradeLevel" AS AgentGradeLevel
        FROM
            call_details
        WHERE
                    "status" IN ('closed', 'resolved')
        GROUP BY
                    "agentsGradeLevel"
        ORDER BY "agentsGradeLevel" ;

'''

In [52]:
cursor.execute(query_4)
ear_last_closed_res= cursor.fetchall()
cursor.description

(Column(name='earliestclosedcall', type_code=23),
 Column(name='latestclosedcall', type_code=23),
 Column(name='agentgradelevel', type_code=25))

In [54]:
ear_last_closed_res=pd.DataFrame(ear_last_closed_res,columns=['earliestclosedcall','latestclosedcall','agentgradelevel'])
ear_last_closed_res

   earliestclosedcall  latestclosedcall agentgradelevel
0                   0                48               A
1                   0                48               C
2                   0                48               D
3                   0                48               E
4                   0                48               F

In [55]:
# Total gradelevel by agents
query_5 ='''
            SELECT 
                    "agentsGradeLevel",
                    COUNT("agentsGradeLevel") AS Total_grade_lev
            FROM call_details
            GROUP BY "agentsGradeLevel"
            ORDER BY "agentsGradeLevel";
'''

In [56]:
cursor.execute(query_5)
tot_gradelevel_by_agent = cursor.fetchall()
cursor.description

(Column(name='agentsGradeLevel', type_code=25),
 Column(name='total_grade_lev', type_code=20))

In [57]:
tot_gradelevel_by_agent =pd.DataFrame(tot_gradelevel_by_agent,columns=['agentsGradeLevel','total_grade_lev'])
tot_gradelevel_by_agent

  agentsGradeLevel  total_grade_lev
0                A              122
1                C              137
2                D              110
3                E              117
4                F              114

In [ ]:
# -- 6.-- THE TOTAL NUMBER OF THE CALL TYPE 
query_6 = '''
                SELECT "callType",COUNT("callType") AS cnt_calltype
                FROM call_details
                GROUP BY "callType";

            '''
cursor.execute(query_6)
tot_calltype=cursor.fetchall()
tot_calltype = pd.DataFrame(tot_calltype,columns=['calltype','cnt_calltype'])
tot_calltype

In [ ]:
# -- 7.-- -- HOW MANY ASSIGNED JOBS WERE GIVEN TO THE DIFFERENT AGENTS
 
query_7 = '''
            SELECT "assignedTo", COUNT("assignedTo") AS assigned_count FROM call_details
            GROUP BY "assignedTo"
            ORDER BY  assigned_count DESC

            '''
cursor.execute(query_7)
tot_assignedjob=cursor.fetchall()
tot_assignedjob = pd.DataFrame(tot_assignedjob,columns=['assignedTo','assigned_count'])
tot_assignedjob

In [58]:
cursor.close()

In [59]:
conn.close()